.container {
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('assets/images/fantasy_women.png') no-repeat center center fixed;
    background-size: cover;
}

.content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
}

.logo {
    height: 400px;
    width: 400px;
}

h1, h2 {
    color: #000000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.content-section {
    background: #fff;
    padding: 0 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta {
    text-align: center;
    margin: 20px 0;
}

.cta a {
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta a:hover {
    background: #555;
}
