.container {
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url('assets/images/fantasy_women.png') no-repeat center center fixed;
    background-size: cover;
}
